.carousel {
  /* margin: 0 auto;
  overflow: hidden;
  max-width: 900px; */
  height: 700px;
  background-color: black;
}
.carousel-inner {
  width: 100%;
  display: flex;
}
.carousel-item {
  /* display: inline-block; */
  max-width: 80%;
}

.carousel-item img {
  /* display: inline-block; */
  width: 100%;
}
